Szakdolgozat_GMEZGS/DeepSeek_Generated_Backend/cloudformation/template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: 'Image Processing Pipeline with S3, Lambda, Rekognition, and Step Functions'

Parameters:
  Environment:
    Type: String
    Default: dev
    Description: Environment name
  AlertEmail:
    Type: String
    Description: Email address for alerts
  AwsRegion:
    Type: String
    Default: us-east-1
    Description: AWS region

Resources:
  # S3 Buckets - InputBucketPolicy ELTÁVOLÍTVA
  InputBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "image-input-${Environment}-${AWS::AccountId}"
      VersioningConfiguration:
        Status: Enabled
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      CorsConfiguration:
        CorsRules:
          - AllowedHeaders: ['*']
            AllowedMethods: [PUT, POST, GET, HEAD]
            AllowedOrigins: ['*']
            ExposedHeaders: [ETag]
            MaxAge: 3000
      NotificationConfiguration:
        EventBridgeConfiguration:
          EventBridgeEnabled: true
    DeletionPolicy: Retain

  OutputBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "image-output-${Environment}-${AWS::AccountId}"
      VersioningConfiguration:
        Status: Enabled
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      CorsConfiguration:
        CorsRules:
          - AllowedHeaders: ['*']
            AllowedMethods: [GET, HEAD]
            AllowedOrigins: ['*']
            ExposedHeaders: [ETag]
            MaxAge: 3000
    DeletionPolicy: Retain

  # DynamoDB Table
  ImageMetadataTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub "image-metadata-${Environment}-${AWS::AccountId}"
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: filename
          AttributeType: S
      KeySchema:
        - AttributeName: filename
          KeyType: HASH
      Tags:
        - Key: Name
          Value: image-metadata
        - Key: Environment
          Value: !Ref Environment

  # SNS Topics
  InvalidFormatTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "invalid-format-topic-${Environment}-${AWS::AccountId}"

  LambdaTimeoutTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "lambda-timeout-topic-${Environment}-${AWS::AccountId}"

  InvalidFormatEmailSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      TopicArn: !Ref InvalidFormatTopic
      Protocol: email
      Endpoint: !Ref AlertEmail

  LambdaTimeoutEmailSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      TopicArn: !Ref LambdaTimeoutTopic
      Protocol: email
      Endpoint: !Ref AlertEmail

  # Lambda Functions - Using existing LabRole
  FormatCheckerFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "format-checker-${Environment}-${AWS::AccountId}"
      Runtime: python3.12
      Role: !Sub "arn:aws:iam::${AWS::AccountId}:role/LabRole"
      Handler: index.lambda_handler
      Timeout: 10
      MemorySize: 128
      Environment:
        Variables:
          SNS_TOPIC_ARN: !Ref InvalidFormatTopic
      Code:
        ZipFile: |
          import json
          import boto3
          import os
          from urllib.parse import unquote_plus
          
          sns_client = boto3.client('sns')
          s3_client = boto3.client('s3')
          SNS_TOPIC_ARN = os.environ.get('SNS_TOPIC_ARN')
          ALLOWED_EXTENSIONS = {'.jpg', '.jpeg', '.png'}
          ALLOWED_MIME_TYPES = {'image/jpeg', 'image/png'}
          
          def lambda_handler(event, context):
              print(f"=== FORMAT CHECKER STARTED ===")
              print(f"Full event received: {json.dumps(event, indent=2)}")
              
              bucket = None
              key = None
              
              if 'Payload' in event:
                  payload = event['Payload']
                  if 'detail' in payload:
                      bucket = payload['detail'].get('bucket', {}).get('name')
                      key = payload['detail'].get('object', {}).get('key')
                  else:
                      bucket = payload.get('bucket')
                      key = payload.get('key')
              elif 'detail' in event:
                  bucket = event['detail'].get('bucket', {}).get('name')
                  key = event['detail'].get('object', {}).get('key')
              elif 'bucket' in event and 'key' in event:
                  bucket = event['bucket']
                  key = event['key']
              
              if not bucket or not key:
                  print(f"ERROR: Could not extract bucket and key from event: {event}")
                  return {
                      'isValid': False,
                      'error': 'Could not extract bucket and key',
                      'bucket': None,
                      'key': None
                  }
              
              key = unquote_plus(key)
              print(f"Processing file: bucket={bucket}, key={key}")
              
              file_extension = '.' + key.split('.')[-1].lower() if '.' in key else ''
              is_valid_extension = file_extension in ALLOWED_EXTENSIONS
              print(f"File extension: {file_extension}, Valid: {is_valid_extension}")
              
              content_type = ''
              is_valid_mime = False
              try:
                  head_object = s3_client.head_object(Bucket=bucket, Key=key)
                  content_type = head_object.get('ContentType', '')
                  is_valid_mime = content_type in ALLOWED_MIME_TYPES
                  print(f"Content-Type: {content_type}, Valid: {is_valid_mime}")
              except Exception as e:
                  print(f"Error getting object metadata: {e}")
              
              is_valid = is_valid_extension and is_valid_mime
              
              if not is_valid:
                  message = f"""
          Invalid file format detected!
          
          File: {key}
          Bucket: {bucket}
          Extension: {file_extension}
          MIME Type: {content_type}
          Timestamp: {context.aws_request_id}
          
          This file was rejected because it is not a valid image format (only .jpg, .jpeg, .png are allowed).
          The file has been automatically deleted from S3.
          """
                  
                  print(f"Sending SNS notification to: {SNS_TOPIC_ARN}")
                  try:
                      response = sns_client.publish(
                          TopicArn=SNS_TOPIC_ARN,
                          Subject=f"⚠️ Invalid Format Alert: {key}",
                          Message=message
                      )
                      print(f"SNS sent successfully. MessageId: {response.get('MessageId')}")
                  except Exception as e:
                      print(f"Error sending SNS notification: {e}")
                  
                  try:
                      s3_client.delete_object(Bucket=bucket, Key=key)
                      print(f"Deleted invalid file: {key} from bucket: {bucket}")
                  except Exception as e:
                      print(f"Error deleting invalid file from S3: {e}")
              else:
                  print(f"Valid image format detected!")
              
              result = {
                  'isValid': is_valid,
                  'bucket': bucket,
                  'key': key
              }
              print(f"Returning: {json.dumps(result)}")
              
              return result

  RekognitionFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "rekognition-${Environment}-${AWS::AccountId}"
      Runtime: python3.12
      Role: !Sub "arn:aws:iam::${AWS::AccountId}:role/LabRole"
      Handler: index.lambda_handler
      Timeout: 30
      MemorySize: 256
      Code:
        ZipFile: |
          import json
          import boto3
          from urllib.parse import unquote_plus
          
          rekognition_client = boto3.client('rekognition')
          
          def lambda_handler(event, context):
              print(f"Received event: {json.dumps(event, indent=2)}")
              
              bucket = None
              key = None
              
              if 'Payload' in event:
                  payload = event['Payload']
                  bucket = payload.get('bucket')
                  key = payload.get('key')
              else:
                  bucket = event.get('bucket')
                  key = event.get('key')
              
              if not bucket or not key:
                  print(f"ERROR: Could not extract bucket and key from event: {event}")
                  return {
                      'labels': [],
                      'bucket': bucket,
                      'key': key,
                      'error': 'Could not extract bucket and key'
                  }
              
              key = unquote_plus(key)
              print(f"Processing Rekognition for: {bucket}/{key}")
              
              try:
                  response = rekognition_client.detect_labels(
                      Image={
                          'S3Object': {
                              'Bucket': bucket,
                              'Name': key
                          }
                      },
                      MaxLabels=10,
                      MinConfidence=70
                  )
                  
                  print(f"Rekognition response: {json.dumps(response, indent=2)}")
                  
                  labels = response.get('Labels', [])
                  top_labels = sorted(labels, key=lambda x: x['Confidence'], reverse=True)[:3]
                  
                  result_labels = [
                      {
                          'name': label['Name'],
                          'confidence': label['Confidence']
                      }
                      for label in top_labels
                  ]
                  
                  print(f"Top 3 labels: {json.dumps(result_labels, indent=2)}")
                  
                  return {
                      'labels': result_labels,
                      'bucket': bucket,
                      'key': key
                  }
                  
              except rekognition_client.exceptions.InvalidImageFormatException as e:
                  print(f"Invalid image format for Rekognition: {e}")
                  return {
                      'labels': [],
                      'bucket': bucket,
                      'key': key,
                      'error': 'Invalid image format for Rekognition'
                  }
              except Exception as e:
                  print(f"Error in Rekognition: {e}")
                  return {
                      'labels': [],
                      'bucket': bucket,
                      'key': key,
                      'error': str(e)
                  }

  # Image Processor with embedded Pillow (PIL)
  ImageProcessorFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "image-processor-${Environment}-${AWS::AccountId}"
      Runtime: python3.12
      Role: !Sub "arn:aws:iam::${AWS::AccountId}:role/LabRole"
      Handler: index.lambda_handler
      Timeout: 30
      MemorySize: 512
      Environment:
        Variables:
          OUTPUT_BUCKET: !Ref OutputBucket
      Code:
        ZipFile: |
          import json
          import boto3
          import os
          import sys
          import subprocess
          import urllib.request
          import zipfile
          import io
          from urllib.parse import unquote_plus
          
          # Pillow telepítése runtime-ban (egyszer)
          def install_pillow():
              try:
                  from PIL import Image
                  return True
              except ImportError:
                  print("Installing Pillow...")
                  # Pillow letöltése és telepítése a /tmp könyvtárba
                  subprocess.check_call([sys.executable, "-m", "pip", "install", "pillow", "-t", "/tmp/pillow"])
                  sys.path.insert(0, "/tmp/pillow")
                  print("Pillow installed successfully")
                  return True
          
          # Pillow telepítése a függvény betöltésekor
          install_pillow()
          
          from PIL import Image
          import io
          import time
          from datetime import datetime

          time.sleep(12)
          s3_client = boto3.client('s3')
          OUTPUT_BUCKET = os.environ.get('OUTPUT_BUCKET')
          
          def lambda_handler(event, context):
              print(f"Received event: {json.dumps(event)}")
              
              start_time = time.time()
              
              bucket = event['bucket']
              key = unquote_plus(event['key'])
              
              try:
                  response = s3_client.get_object(Bucket=bucket, Key=key)
                  image_data = response['Body'].read()
                  
                  image = Image.open(io.BytesIO(image_data))
                  
                  image.thumbnail((500, 500), Image.Resampling.LANCZOS)
                  
                  new_image = Image.new('RGB', (500, 500), (255, 255, 255))
                  
                  x_offset = (500 - image.width) // 2
                  y_offset = (500 - image.height) // 2
                  new_image.paste(image, (x_offset, y_offset))
                  
                  output_buffer = io.BytesIO()
                  
                  file_extension = key.split('.')[-1].lower()
                  if file_extension in ['jpg', 'jpeg']:
                      output_format = 'JPEG'
                      mime_type = 'image/jpeg'
                  else:
                      output_format = 'PNG'
                      mime_type = 'image/png'
                  
                  new_image.save(output_buffer, format=output_format)
                  output_buffer.seek(0)
                  
                  output_key = f"processed_{key}"
                  s3_client.put_object(
                      Bucket=OUTPUT_BUCKET,
                      Key=output_key,
                      Body=output_buffer,
                      ContentType=mime_type
                  )
                  
                  upload_time = datetime.utcnow().isoformat()
                  processing_time = time.time() - start_time
                  
                  print(f"Image processed successfully. Output key: {output_key}, Processing time: {processing_time:.2f}s")
                  
                  return {
                      'processed_key': output_key,
                      'upload_time': upload_time,
                      'processing_time': processing_time,
                      'bucket': bucket,
                      'original_key': key
                  }
                  
              except Exception as e:
                  print(f"Error processing image: {e}")
                  raise e

  ImageInfoFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "image-info-${Environment}-${AWS::AccountId}"
      Runtime: python3.12
      Role: !Sub "arn:aws:iam::${AWS::AccountId}:role/LabRole"
      Handler: index.lambda_handler
      Timeout: 10
      MemorySize: 128
      Environment:
        Variables:
          DYNAMODB_TABLE: !Ref ImageMetadataTable
          OUTPUT_BUCKET: !Ref OutputBucket
      Code:
        ZipFile: |
          import json
          import boto3
          import os
          from datetime import datetime
          
          dynamodb = boto3.resource('dynamodb')
          s3_client = boto3.client('s3')
          DYNAMODB_TABLE = os.environ.get('DYNAMODB_TABLE')
          OUTPUT_BUCKET = os.environ.get('OUTPUT_BUCKET')
          
          def lambda_handler(event, context):
              print(f"Received event: {json.dumps(event, indent=2)}")
              
              filename = event.get('filename')
              processed_key = event.get('processed_key')
              upload_time = event.get('upload_time')
              labels = event.get('labels', [])
              
              if not filename:
                  raise ValueError("filename is required")
              
              label_names = []
              if isinstance(labels, list):
                  for label in labels:
                      if isinstance(label, dict):
                          if 'S' in label:
                              label_names.append(label['S'])
                          elif 'name' in label:
                              label_names.append(label['name'])
                      elif isinstance(label, str):
                          label_names.append(label)
              
              print(f"Label names: {label_names}")
              
              try:
                  url = s3_client.generate_presigned_url(
                      'get_object',
                      Params={'Bucket': OUTPUT_BUCKET, 'Key': processed_key},
                      ExpiresIn=3600
                  )
              except Exception as e:
                  print(f"Error generating presigned URL: {e}")
                  url = f"https://{OUTPUT_BUCKET}.s3.amazonaws.com/{processed_key}"
              
              table = dynamodb.Table(DYNAMODB_TABLE)
              
              item = {
                  'filename': filename,
                  'labels': label_names,
                  'upload_time': upload_time if upload_time else datetime.utcnow().isoformat(),
                  'image_url': url,
                  'processed_key': processed_key,
                  'created_at': datetime.utcnow().isoformat()
              }
              
              table.put_item(Item=item)
              
              return {
                  'statusCode': 200,
                  'message': 'Metadata saved successfully'
              }

  GetImagesFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "get-images-${Environment}-${AWS::AccountId}"
      Runtime: python3.12
      Role: !Sub "arn:aws:iam::${AWS::AccountId}:role/LabRole"
      Handler: index.lambda_handler
      Timeout: 10
      MemorySize: 128
      Environment:
        Variables:
          DYNAMODB_TABLE: !Ref ImageMetadataTable
          OUTPUT_BUCKET: !Ref OutputBucket
      Code:
        ZipFile: |
          import json
          import boto3
          import os
          from decimal import Decimal
          
          dynamodb = boto3.resource('dynamodb')
          s3_client = boto3.client('s3')
          DYNAMODB_TABLE = os.environ.get('DYNAMODB_TABLE')
          OUTPUT_BUCKET = os.environ.get('OUTPUT_BUCKET')
          
          class DecimalEncoder(json.JSONEncoder):
              def default(self, obj):
                  if isinstance(obj, Decimal):
                      return float(obj)
                  return super(DecimalEncoder, self).default(obj)
          
          def lambda_handler(event, context):
              print(f"Received event: {json.dumps(event)}")
              
              table = dynamodb.Table(DYNAMODB_TABLE)
              
              try:
                  response = table.scan()
                  items = response.get('Items', [])
                  
                  if event.get('queryStringParameters') and event['queryStringParameters'].get('filename'):
                      filename = event['queryStringParameters']['filename']
                      items = [item for item in items if item['filename'] == filename]
                  
                  for item in items:
                      processed_key = item.get('processed_key')
                      if processed_key:
                          try:
                              presigned_url = s3_client.generate_presigned_url(
                                  'get_object',
                                  Params={
                                      'Bucket': OUTPUT_BUCKET,
                                      'Key': processed_key,
                                      'ResponseContentType': 'image/jpeg'
                                  },
                                  ExpiresIn=3600
                              )
                              item['image_url'] = presigned_url
                          except Exception as e:
                              print(f"Error generating presigned URL for {processed_key}: {e}")
                              item['image_url'] = None
                      else:
                          item['image_url'] = None
                  
                  body = json.dumps(items, cls=DecimalEncoder)
                  
                  return {
                      'statusCode': 200,
                      'headers': {
                          'Content-Type': 'application/json',
                          'Access-Control-Allow-Origin': '*',
                          'Access-Control-Allow-Methods': 'GET, OPTIONS',
                          'Access-Control-Allow-Headers': 'Content-Type, X-Amz-Date, Authorization, X-Api-Key, X-Amz-Security-Token'
                      },
                      'body': body
                  }
                  
              except Exception as e:
                  print(f"Error getting images: {e}")
                  return {
                      'statusCode': 500,
                      'headers': {
                          'Content-Type': 'application/json',
                          'Access-Control-Allow-Origin': '*',
                          'Access-Control-Allow-Methods': 'GET, OPTIONS',
                          'Access-Control-Allow-Headers': 'Content-Type, X-Amz-Date, Authorization, X-Api-Key, X-Amz-Security-Token'
                      },
                      'body': json.dumps({'error': str(e)})
                  }

  PresignedUrlFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "presigned-url-${Environment}-${AWS::AccountId}"
      Runtime: python3.12
      Role: !Sub "arn:aws:iam::${AWS::AccountId}:role/LabRole"
      Handler: index.lambda_handler
      Timeout: 10
      MemorySize: 128
      Environment:
        Variables:
          INPUT_BUCKET: !Ref InputBucket
      Code:
        ZipFile: |
          import json
          import boto3
          import os
          import uuid
          import mimetypes
          
          s3_client = boto3.client('s3')
          INPUT_BUCKET = os.environ.get('INPUT_BUCKET')
          
          def lambda_handler(event, context):
              print(f"Received event: {json.dumps(event)}")
              
              if event.get('httpMethod') == 'OPTIONS':
                  return {
                      'statusCode': 200,
                      'headers': {
                          'Access-Control-Allow-Origin': '*',
                          'Access-Control-Allow-Methods': 'GET, PUT, OPTIONS',
                          'Access-Control-Allow-Headers': 'Content-Type, X-Amz-Date, Authorization, X-Api-Key, X-Amz-Security-Token'
                      },
                      'body': ''
                  }
              
              try:
                  filename = None
                  if event.get('queryStringParameters'):
                      filename = event['queryStringParameters'].get('filename')
                  
                  if not filename:
                      filename = f"upload_{uuid.uuid4().hex}.jpg"
                  
                  content_type, encoding = mimetypes.guess_type(filename)
                  if not content_type:
                      content_type = 'image/jpeg'
                  
                  print(f"Filename: {filename}, Content-Type: {content_type}")
                  
                  presigned_url = s3_client.generate_presigned_url(
                      'put_object',
                      Params={
                          'Bucket': INPUT_BUCKET,
                          'Key': filename,
                          'ContentType': content_type
                      },
                      ExpiresIn=300
                  )
                  
                  print(f"Generated presigned URL for: {filename}")
                  
                  return {
                      'statusCode': 200,
                      'headers': {
                          'Content-Type': 'application/json',
                          'Access-Control-Allow-Origin': '*',
                          'Access-Control-Allow-Methods': 'GET, PUT, OPTIONS',
                          'Access-Control-Allow-Headers': 'Content-Type, X-Amz-Date, Authorization, X-Api-Key, X-Amz-Security-Token'
                      },
                      'body': json.dumps({
                          'upload_url': presigned_url,
                          'filename': filename,
                          'bucket': INPUT_BUCKET,
                          'content_type': content_type
                      })
                  }
                  
              except Exception as e:
                  print(f"Error generating presigned URL: {e}")
                  return {
                      'statusCode': 500,
                      'headers': {
                          'Content-Type': 'application/json',
                          'Access-Control-Allow-Origin': '*'
                      },
                      'body': json.dumps({'error': str(e)})
                  }

  DeleteImageFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "delete-image-${Environment}-${AWS::AccountId}"
      Runtime: python3.12
      Role: !Sub "arn:aws:iam::${AWS::AccountId}:role/LabRole"
      Handler: index.lambda_handler
      Timeout: 30
      MemorySize: 256
      Environment:
        Variables:
          DYNAMODB_TABLE: !Ref ImageMetadataTable
          INPUT_BUCKET: !Ref InputBucket
          OUTPUT_BUCKET: !Ref OutputBucket
      Code:
        ZipFile: |
          import json
          import boto3
          import os
          from urllib.parse import unquote_plus
          
          s3_client = boto3.client('s3')
          dynamodb = boto3.resource('dynamodb')
          
          DYNAMODB_TABLE = os.environ.get('DYNAMODB_TABLE')
          INPUT_BUCKET = os.environ.get('INPUT_BUCKET')
          OUTPUT_BUCKET = os.environ.get('OUTPUT_BUCKET')
          
          def lambda_handler(event, context):
              print(f"Received event: {json.dumps(event)}")
              
              # OPTIONS preflight kezelése - FONTOS!
              if event.get('httpMethod') == 'OPTIONS':
                  return {
                      'statusCode': 200,
                      'headers': {
                          'Access-Control-Allow-Origin': '*',
                          'Access-Control-Allow-Methods': 'DELETE, OPTIONS',
                          'Access-Control-Allow-Headers': 'Content-Type, X-Amz-Date, Authorization, X-Api-Key, X-Amz-Security-Token'
                      },
                      'body': ''
                  }
              
              filename = None
              if event.get('pathParameters'):
                  filename = event['pathParameters'].get('filename')
              
              if not filename:
                  return {
                      'statusCode': 400,
                      'headers': {
                          'Content-Type': 'application/json',
                          'Access-Control-Allow-Origin': '*'
                      },
                      'body': json.dumps({'error': 'Filename is required'})
                  }
              
              filename = unquote_plus(filename)
              processed_key = f"processed_{filename}"
              
              try:
                  table = dynamodb.Table(DYNAMODB_TABLE)
                  table.delete_item(Key={'filename': filename})
                  print(f"Deleted metadata for {filename} from DynamoDB")
                  
                  try:
                      s3_client.delete_object(Bucket=INPUT_BUCKET, Key=filename)
                      print(f"Deleted original image: {filename}")
                  except Exception as e:
                      print(f"Error deleting original image: {e}")
                  
                  try:
                      s3_client.delete_object(Bucket=OUTPUT_BUCKET, Key=processed_key)
                      print(f"Deleted processed image: {processed_key}")
                  except Exception as e:
                      print(f"Error deleting processed image: {e}")
                  
                  return {
                      'statusCode': 200,
                      'headers': {
                          'Content-Type': 'application/json',
                          'Access-Control-Allow-Origin': '*',
                          'Access-Control-Allow-Methods': 'DELETE, OPTIONS',
                          'Access-Control-Allow-Headers': 'Content-Type, X-Amz-Date, Authorization, X-Api-Key, X-Amz-Security-Token'
                      },
                      'body': json.dumps({
                          'message': 'Image and metadata deleted successfully',
                          'filename': filename
                      })
                  }
                  
              except Exception as e:
                  print(f"Error deleting image: {e}")
                  return {
                      'statusCode': 500,
                      'headers': {
                          'Content-Type': 'application/json',
                          'Access-Control-Allow-Origin': '*'
                      },
                      'body': json.dumps({'error': str(e)})
                  }

  # CloudWatch Alarm for Lambda Timeout
  ImageProcessorTimeoutAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub "image-processor-timeout-alarm-${Environment}"
      ComparisonOperator: GreaterThanThreshold
      EvaluationPeriods: 1
      MetricName: Duration
      Namespace: AWS/Lambda
      Period: 60
      Statistic: Maximum
      Threshold: 10000
      AlarmActions:
        - !Ref LambdaTimeoutTopic
      Dimensions:
        - Name: FunctionName
          Value: !Ref ImageProcessorFunction

  # Step Functions State Machine
  ImageProcessingStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "image-processing-state-machine-${Environment}"
      RoleArn: !Sub "arn:aws:iam::${AWS::AccountId}:role/LabRole"
      DefinitionString: !Sub |
        {
          "Comment": "Image processing workflow",
          "StartAt": "Format Checker",
          "States": {
            "Format Checker": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${FormatCheckerFunction.Arn}",
                "Payload.$": "$"
              },
              "ResultPath": "$.format_checker_result",
              "Next": "Rekognition"
            },
            "Rekognition": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${RekognitionFunction.Arn}",
                "Payload.$": "$.format_checker_result.Payload"
              },
              "ResultPath": "$.rekognition_result",
              "Next": "Image Processor"
            },
            "Image Processor": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${ImageProcessorFunction.Arn}",
                "Payload.$": "$.rekognition_result.Payload"
              },
              "ResultPath": "$.processor_result",
              "Next": "Image Info"
            },
            "Image Info": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${ImageInfoFunction.Arn}",
                "Payload": {
                  "filename.$": "$.processor_result.Payload.original_key",
                  "processed_key.$": "$.processor_result.Payload.processed_key",
                  "upload_time.$": "$.processor_result.Payload.upload_time",
                  "labels.$": "$.rekognition_result.Payload.labels"
                }
              },
              "End": true
            }
          }
        }

  # EventBridge Rule for S3 Uploads
  S3ImageUploadRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub "s3-image-upload-rule-${Environment}"
      Description: "Trigger Step Functions when any file is uploaded to S3"
      EventPattern:
        source:
          - aws.s3
        detail-type:
          - Object Created
        detail:
          bucket:
            name:
              - !Ref InputBucket
      Targets:
        - Arn: !Ref ImageProcessingStateMachine
          Id: StepFunctions
          RoleArn: !Sub "arn:aws:iam::${AWS::AccountId}:role/LabRole"

  # API Gateway
  ImageApi:
    Type: AWS::ApiGateway::RestApi
    Properties:
      Name: !Sub "image-processing-api-${Environment}"
      Description: "API for image processing application"

  # API Gateway Resources
  ImagesResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref ImageApi
      ParentId: !GetAtt ImageApi.RootResourceId
      PathPart: images

  UploadResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref ImageApi
      ParentId: !GetAtt ImageApi.RootResourceId
      PathPart: upload

  ImageIdResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref ImageApi
      ParentId: !Ref ImagesResource
      PathPart: "{filename}"

  # GET /images
  GetImagesMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref ImageApi
      ResourceId: !Ref ImagesResource
      HttpMethod: GET
      AuthorizationType: NONE
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${GetImagesFunction.Arn}/invocations"

  # GET /upload
  GetPresignedUrlMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref ImageApi
      ResourceId: !Ref UploadResource
      HttpMethod: GET
      AuthorizationType: NONE
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${PresignedUrlFunction.Arn}/invocations"

  # DELETE /images/{filename}
  DeleteImageMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref ImageApi
      ResourceId: !Ref ImageIdResource
      HttpMethod: DELETE
      AuthorizationType: NONE
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${DeleteImageFunction.Arn}/invocations"

  # OPTIONS metódus az IMAGES resource-hoz - JAVÍTVA
  OptionsImagesMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref ImageApi
      ResourceId: !Ref ImagesResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        PassthroughBehavior: WHEN_NO_MATCH
        IntegrationResponses:
          - StatusCode: 200
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Methods: "'GET,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
            ResponseTemplates:
              application/json: ""
      MethodResponses:
        - StatusCode: 200
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true
          ResponseModels:
            application/json: Empty

  # OPTIONS metódus az UPLOAD resource-hoz - JAVÍTVA
  OptionsUploadMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref ImageApi
      ResourceId: !Ref UploadResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        PassthroughBehavior: WHEN_NO_MATCH
        IntegrationResponses:
          - StatusCode: 200
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Methods: "'GET,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
            ResponseTemplates:
              application/json: ""
      MethodResponses:
        - StatusCode: 200
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true
          ResponseModels:
            application/json: Empty

  # OPTIONS metódus a DELETE resource-hoz - JAVÍTVA (helyes formátum)
  OptionsDeleteMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref ImageApi
      ResourceId: !Ref ImageIdResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        PassthroughBehavior: WHEN_NO_MATCH
        IntegrationResponses:
          - StatusCode: 200
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Methods: "'DELETE,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
            ResponseTemplates:
              application/json: ""
      MethodResponses:
        - StatusCode: 200
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true
          ResponseModels:
            application/json: Empty

  # API Gateway Deployment
  ImageApiDeployment:
    Type: AWS::ApiGateway::Deployment
    DependsOn:
      - GetImagesMethod
      - GetPresignedUrlMethod
      - DeleteImageMethod
      - OptionsImagesMethod
      - OptionsUploadMethod
      - OptionsDeleteMethod
    Properties:
      RestApiId: !Ref ImageApi

  ImageApiStage:
    Type: AWS::ApiGateway::Stage
    Properties:
      StageName: prod
      RestApiId: !Ref ImageApi
      DeploymentId: !Ref ImageApiDeployment

  # Lambda Permissions for API Gateway - JAVÍTVA
  GetImagesPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref GetImagesFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${ImageApi}/*/GET/images"

  PresignedUrlPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref PresignedUrlFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${ImageApi}/*/GET/upload"

  DeleteImagePermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref DeleteImageFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${ImageApi}/*/DELETE/images/*"

Outputs:
  ApiGatewayUrl:
    Description: API Gateway URL
    Value: !Sub "https://${ImageApi}.execute-api.${AWS::Region}.amazonaws.com/prod/images"

  InputBucketName:
    Description: Input S3 bucket name
    Value: !Ref InputBucket

  OutputBucketName:
    Description: Output S3 bucket name
    Value: !Ref OutputBucket

  DynamoDBTableName:
    Description: DynamoDB table name
    Value: !Ref ImageMetadataTable

  StateMachineArn:
    Description: Step Functions state machine ARN
    Value: !Ref ImageProcessingStateMachine